
<div *ngIf="anime" class="detail-anime">
    <img src="{{anime.img_url}}" class="image-anime" style="height: 500px"/> 
    
    <h1 class="title-anime">{{anime.title}}</h1> 
  
    <table class="info-anime-table">

      <tr>
      <th>Type</th> 
      <th>Status</th>
      <th>Episodes</th>
      <th>Studio</th>
      <th>Director</th>
    </tr>
      <tr>
        <td>{{anime.type}}</td>
        <td>{{anime.status}}</td>
        <td>{{anime.episodes}}</td>
        <td>{{anime.studio}}</td>
        <td>{{anime.director}}</td>
      </tr>

    </table>



    <div class="buttons">
   <button mat-button color="primary" (click)="edit(anime.id)">EDIT</button>
      <button mat-button color="warn" (click)="delete(anime.id)"><span class="material-icons">
          delete_forever
          </span>
          </button>
          <button mat-button (click)="return()">Return Main Screen</button></div>

             
      </div>

   <div *ngIf="!anime" class="error">
     <p class="error-title"><strong>Error 404</strong></p> 
     <p class="error-body">Anime not found!</p>
    </div>
