
<div *ngIf="anime">
    <img src="{{anime.img_url}}" style="height: 500px"/> 
    
    <h1>{{anime.title}}</h1>
    <p>Type: {{anime.type}}</p>
    <p>Status: {{anime.status}}</p>
    <p>Number of episodes: {{anime.episodes}}</p>
    <p>Director: {{anime.director}}</p>
    <p>Studio: {{anime.studio}}</p>

    <table>
      <tr>
      <th>Type</th> 
      <th>Status</th>
      <th>Episodes</th>
    </tr>
      <tr>
        <td>{{anime.type}}</td>
        <td>{{anime.status}}</td>
        <td>{{anime.episodes}}</td>
      </tr>
    </table>

    <mat-list-item><button mat-button color="primary" (click)="edit(anime.id)">EDIT</button>
        <button mat-button color="warn" (click)="delete(anime.id)"><span class="material-icons">
          delete_forever
          </span>
          </button>
          <button mat-button (click)="return()">Return Main Screen</button>
        </mat-list-item>
      </div>

   <div *ngIf="!anime" class="error">
     <p class="error-title"><strong>Error 404</strong></p> 
     <p class="error-body">Anime not found!</p>
    </div>
